<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Settings.LRP" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Settings.LRP" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Settings.LRP>
            <setting name="setupDone" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppData" serializeAs="String">
                <value/>
            </setting>
            <setting name="Rlb" serializeAs="String">
                <value/>
            </setting>
            <setting name="PlcIp" serializeAs="String">
                <value/>
            </setting>
            <setting name="NumHoppers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="ErrorPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="DBPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="PrintSettings" serializeAs="String">
                <value/>
            </setting>
            <setting name="useMetric" serializeAs="String">
                <value>False</value>
            </setting>
        </Settings.LRP>
    </userSettings>
    <applicationSettings>
        <Settings.LRP>
            <setting name="MLNumHoppers" serializeAs="String">
                <value>416</value>
            </setting>
        </Settings.LRP>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
